---
layout: page
title: 联系
description: "联系fangler"
group: navigation
---
{% include JB/setup %}

<!-- Main Content -->
<hr/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p>如果要和我联系，<a href="Mailto:ifangler@163.com">给我发邮件</a>，我将会在收到邮件后的24小时回复您！</p>
		</div>
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p>或者欣赏下面的个小玩意</p>
			<iframe width="322px" frameborder = "0" height="641px" src="http://eqxiu.com/s/KDIziMy8"></iframe>
		</div>
	</div>
</div>
<hr>
<div>
	{% include JB/comments %}
</div>
