---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}

    <div id="main_content">
      {{ content }}
    </div>
    <button id="menu_fullscreen">
      <span id="menu_fullscreen_btn" class="am-icon-arrow-left"></span>
    </button>
    {% include scripts.html %}
	
	<span id="default_showDays"></span>
    <script type="text/javascript">
      setTimeout(() => {
              L2Dwidget.init({
                      "model": {
                              "scale": 0.5
                      },
                      "display": {
                              "position": "right",
                              "width": 180,
                              "height": 260,
                              "hOffset": 0,
                              "vOffset": -20
                      },
                      "mobile": {
                              "show": true,
                              "scale": 0.5
                      },
                      "react": {
                              "opacityDefault": 0.7,
                              "opacityOnHover": 0.2
                      }
              });
      }, 1000)
    </script>
  </body>
</html>
